In [188]:
%matplotlib inline
import pandas as pd

In [189]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [190]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [191]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [192]:
len(cast.groupby(["title","year"]).count())
# movies=movies.reset_index()
# len(movies.title)

185689

### What are the earliest two films listed in the titles dataframe?

In [226]:
movies2=cast.groupby(['title','year']).count()
movies2=movies2.reset_index()
movies2.sort_values("year",ascending=True).head(2)[['title','year']]

                        title  year
98800              Miss Jerry  1894
135988  Soldiers of the Cross  1900

### How many movies have the title "Hamlet"?

In [194]:
movies3=cast[(cast.title=='Hamlet')]
len(movies3.groupby('year'))

17

### How many movies are titled "North by Northwest"?

In [195]:
len(cast[cast.title=="North by Northwest"].groupby("year"))

1

### When was the first movie titled "Hamlet" made?

In [196]:
cast[(cast.title=='Hamlet')].sort_values('year').head(1)

          title  year               name   type character   n
1523252  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [197]:
movies5=cast.groupby(["title","year"]).count()
movies5=movies5.reset_index()
movies5[movies5.title=="Hamlet"].sort_values("year")[['title','year']]

        title  year
59421  Hamlet  1910
59422  Hamlet  1911
59423  Hamlet  1913
59424  Hamlet  1921
59425  Hamlet  1948
59426  Hamlet  1954
59427  Hamlet  1964
59428  Hamlet  1969
59429  Hamlet  1973
59430  Hamlet  1976
59431  Hamlet  1987
59432  Hamlet  1990
59433  Hamlet  1996
59434  Hamlet  2000
59435  Hamlet  2009
59436  Hamlet  2011
59437  Hamlet  2015

### How many movies were made in the year 1950?

In [198]:
len(cast[cast.year==1950].groupby("title").count())

900

In [199]:
# x=cast.groupby(['title','year']).count()
# x=x.reset_index()
# len(x[x.year==1950])

### How many movies were made in the year 1960?

In [200]:
len(cast[cast.year==1960].groupby("title").count())

1076

### How many movies were made from 1950 through 1959?

In [201]:
len(cast[(cast.year>=1950)&(cast.year<=1959)].groupby(["title","year"]).count())

10069

### In what years has a movie titled "Batman" been released?

In [202]:
cast[cast.title=="Batman"].groupby("year").count()

      title  name  type  character   n
year
1943     52    52    52         52   6
1989     68    68    68         68  58

In [203]:
x=cast.groupby(["title","year"]).count()
x=x.reset_index()
x[x.title=="Batman"][['title','year']]

        title  year
15943  Batman  1943
15944  Batman  1989

### How many roles were there in the movie "Inception"?

In [204]:
cast[cast.title=="Inception"].groupby("title").count()["n"]

title
Inception    51
Name: n, dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [205]:
import math
len(cast[(cast.title=="Inception")]['n'])-cast[(cast.title=="Inception")].isnull().sum()["n"]

51

In [206]:
cast[cast.title=="Inception"].count()['n']

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [207]:
import math
cast[(cast.title=="Inception")].isnull().sum()["n"]

26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [208]:
cast[cast.title=="North by Northwest"].dropna().sort_values('n')

,title,year,name,type,character,n
828313,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3311904,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1384564,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2979655,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
338569,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2880266,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1611237,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1211365,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2324061,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1721393,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
632847,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2180279,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
441299,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1433579,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
195292,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1315609,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [209]:
cast[(cast.title=="Sleuth")&(cast.year==1972)].sort_values('n')

,title,year,name,type,character,n
1620851,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
309931,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
355001,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1392381,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2581312,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1376603,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [210]:
cast[(cast.title=="Sleuth")&(cast.year==2007)].sort_values('n')

          title  year                 name     type          character    n
309932   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1228911  Sleuth  2007             Jude Law    actor               Milo  2.0
1716240  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
246374   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
355002   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2581311  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3176194  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [211]:
len(cast[(cast.title=="Hamlet")&(cast.year==1921)].dropna())

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [212]:
len(cast[(cast.title=="Hamlet")&(cast.year==1996)].dropna())

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [213]:
len(cast[(cast.title=="Hamlet")].dropna())

248

### How many people have played an "Ophelia"?

In [214]:
len(cast[cast.character=="Ophelia"])

107

### How many people have played a role called "The Dude"?

In [215]:
len(cast[cast.character=="The Dude"])

17

### How many people have played a role called "The Stranger"?

In [216]:
len(cast[cast.character=="The Stranger"])

209

### How many roles has Sidney Poitier played throughout his career?

In [217]:
len(cast[cast.name=="Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [218]:
len(cast[cast.name=="Judi Dench"])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [219]:
cast[(cast.name=="Cary Grant")&(cast.n==2)&(cast.year>=1940)&(cast.year<=1949)].sort_values('year')

                   title  year        name   type    character    n
828310  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
828320    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [220]:
cast[(cast.name=="Cary Grant")&(cast.n==1)&(cast.year>=1940)&(cast.year<=1949)].sort_values('year')

,title,year,name,type,character,n
828335,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
828292,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
828337,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
828325,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
828339,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
828316,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
828283,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
828308,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
828309,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
828317,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
828275,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
828312,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
828311,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
828314,Notorious,1946,Cary Grant,actor,Devlin,1.0
828331,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
828332,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
828307,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
828287,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
828296,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [221]:
len(cast[(cast.type=="actor")&(cast.year<=1959)&(cast.year>=1950)])

153936

### How many roles were avilable for actresses in the 1950s?

In [222]:
len(cast[(cast.type=="actress")&(cast.year<=1959)&(cast.year>=1950)])

55993

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [223]:
len(cast[(cast.n==1)&(cast.year<=1980)])

63537

### How many non-leading roles were available through from the beginning of film history through 1980?

In [224]:
len(cast[(cast.n!=1)&(cast.year<=1980)])

1087299

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [225]:
cast[(cast.year<=1980)].isnull().sum()['n']

434676